<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Formulário de contato</title>
    </head>
    <body>
        <div class='text-center'>
            <h1>{{ title }}</h1>
        </div>
   <div class='container'> <!-- class='container'é um framework como Bootstrap para aplicar estilos prontos, como centralizar conteúdo e definir largura máxima responsiva. -->
            <div class='row'> <!-- criar linhas de layout -->
                <div class='col'> <!-- colunas dentro de uma linha (.row). -->
                    <p>{{ content }}</p> <!-- mostra o conteudo escrito na views.py na sessão do CONTACT -->
                    <div class='col-sm-6 col-12'> <!--  COL-12 (Em telas pequenas (mobile) e menores, essa coluna ocupa 12 colunas, ou seja, 100% da largura da linha.) -->
                      <!-- COL-SM-6 (Em telas pequenas (a partir de 576px de largura) e maiores, essa coluna ocupa 6 colunas, ou seja, 50% da linha) -->
                    <form method='POST'> {% csrf_token %} <!-- o método POST serve para enviar as informações para o back-end -->  <!-- {% csrf_token %} serva para proteção de ataques maliciosos-->
                        <input type='text' class='form-control' name='fullname 'placeholder='Digite seu nome completo'> <!-- cria uma área de texto com um placeholder (espaço para escrever) focado no nome completo-->
                        <input type='email' class='form-control' name='email' placeholder='Digite seu email'> <!-- cria uma área de texto com um placeholder (espaço para escrever) focado no email-->
                        <textarea name='content' class='form-control' placeholder='Digite seu texto aqui'></textarea> <!-- cria uma área de texto com um placeholder (espaço para escrever) focado no texto-->
                        <button type='submit' class='btn btn-default'>Enviar</button> <!-- Cria um botão e o nomeia como "ENVIAR" -->
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>